# Force TypeScript to be the only detectable code
*.js linguist-detectable=false
*.js linguist-generated=true
*.html linguist-documentation
*.css linguist-documentation

# Hide all reports and results
playwright-report/** linguist-documentation
allure-results/** linguist-documentation
allure-report/** linguist-documentation
test-results/** linguist-documentation
docs/** linguist-documentation